@import "../node_modules/bulma/css/bulma.min.css";


textarea#editor {
    height: 100vh;
    resize: none;
    border: none;
}

pre#preview {
}

div.previewHolder {
}

div#root {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}


div.App {
}