@import "../node_modules/bulma/css/bulma.min.css";


textarea#editor {
    height: 100vh;
    resize: none;

}

pre#preview {
}

div.previewHolder {
}

div#root {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}


div.App {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
}


div#editorPanel {
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5px;
}

